/*
    Document   : iphone
    Created on : Dec 28, 2014, 12:53:57 PM
    Author     : MarinThien
    Description:
    Purpose of the stylesheet follows.
*/

$ipadLandscape:1024px;
/*
iphone portrait
*/
@media screen and (max-width: $ipadLandscape)
{
    max-width:$ipadLandscape;    
    div#Content-Outer
    {
        max-width:$ipadLandscape;
        
          div#Company-Space
            {   
                width:$ipadLandscape !important;
                //margin-top:20px;
                width:100% !important;
                height:250px !important;
                //border:5px solid #70d0ff;
                //background:#000;
                div#logo
                { 
                   top:40px;
                   width:180px; height:120px;
                   img {width:150px; height:100px;  }
                }
                div#Company-Header
                { 
                    position: absolute;
                    top:120px;
                    left:60px;                    
                    width:200px;
                    span#Company-Name-Line1{font-size:20pt;}
                    span#Company-Name-Line2{font-size:10pt;}
                    span#Company-Name-Line3{font-size:8pt;}
                   
                }
                
            }
           div#Site-Nav
            {
                  width:100%;   
                  height:40px !important;   
                   
                  div.company-name-combine
                  {
                      font-size:15pt;
                      width: 90px;
                      display: block;
                      text-align: left;
                      transform: translate(-20%) scale(0.6);                   
                      -webkit-transform: translate(-20%) scale(0.6); 
                      img
                        {
                             // transform: scale(0.6);                   
                             //-webkit-transform: scale(0.6);                   
                        }
                  }
                  ul#shop-nav
                    { 
                        display: none;
                        top:90px;
                        height: auto;
                        position: absolute;                        
                        //margin:0; top:50px; left:0;
                        width:98%;
                        z-index:400; 
                        //background: #595740;     
                        @include BoxShadow(#000,0,-5px,10px);
                         //background: linear-gradient(-45deg,#38aaab 0%, #37bebc 100%); 
                        // background: linear-gradient(-45deg,#38aaab 0%, #4befed 50%,#37bebc 100%); 
                         background:#fff;
                         li
                          {
                          
                           text-align: center;
                           line-height:50px;
                           width:100%;
                           float: none; clear: both;
                          
                           a
                            {
                                 padding-left:25px;
                                 display: block; width: 100%;
                                 @include StandardText($txtColor,8pt,"Open Sans",left,200,uppercase);
                                 
                            }                           
                          }
                    }
                    .Btn-Menu
                    {
                        
                         z-index:1;
                         color: #000;
                        //border:1px solid red;
                         right:10px;
                         top:25px;
                        
                         //transform: translateY(50%);
                         display: block; 
                         transform: scale(1.2) rotate(90deg);
                        -moz-transform: scale(1.2) rotate(90deg);
                        -webkit-transform:scale(1.2)  rotate(90deg);
                        transition: "all .1s linear";
                        -moz-transition: "all .1s linear";
                        -webkit-transition: "all .1s linear";
                        height:40px;
                        //@include StandardText(#fff,10pt,"Open Sans",center,400);
                        //background:#3f5d5d;
                        &:hover{
                               cursor:pointer;
                               //background:#3f5d5d;
                               }
                    }
            } 
            
            
            div#Content
            {
                width:100%;
                //style the gallery on iphone screen
                div.box-icon-top
                {
                     div.float-box,.two-column-box,.three-column-box,.tbl-four-column{ width:100%}
                }
                
                div.Gallery
                {
                      
                      height:200px;
                      img{height:200px;}
                }
                div.innerGallery
                {
                      height: auto;
                      //display:none;
                      width:100%;
                      overflow:hidden;
                      img{height:80px; width:90px;}
                }
                /*******end of gallery style **********/
                div.Outer
                {                  
                    margin:0;padding:0;
                    div.region
                    {
                        width:100%;
                        table.two-column
                        {
                          left:0;
                          margin:0;padding:0;
                          width:100%;text-align:left;
                          td
                            {
                                display: block; text-align: none; width:100%;
                                
                                div.illustration
                                {
                                    //description for menu
                                    div.Description{ font-size:10pt; padding-top:5px;}
                                }
                            }
                        }
                    }
                }
            }
           
            
            
    }

    
    
}



